<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active btn-light" aria-current="page" href="{{ path('usuario_index') }}">Usuarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('empleado_index') }}">Empleados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('asistencia_index') }}">Asistencias</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Reportes</a>
    </li>
</ul>