{% extends 'base.html.twig' %}

{% block title %}Sistema de Control de Asistencia{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/ControlAsistencia/public/css/generales.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="offset-md-5 col-sm-12 col-md-3 col-lg-3">
            <img src="{{ asset('/ControlAsistencia/public/img/Logo.png') }}" class="img-fluid" alt="Logo">
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-sm-10 col-md-10 col-lg-10">
            <h1 class="text-center">Bienvenido al sistema de control de asistencia ✅</h1>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-sm-10 col-md-10 col-lg-10">
            <p class="alert-light">Para continuar deberá ingresar con su usuario y clave. Si no posee una cuenta de usuario comuniquese con el
                administrador del sistema.</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-4 col-sm-4 col-md-4 col-lg-4">
            <div class="d-grid gap-2">
                <a href="{{ path('app_login') }}" class="btn btn-lg btn-primary">Inicio de sesión</a>
            </div>
        </div>
    </div>
</div>
<div class="example-wrapper">



    <div class="container">

    </div>
</div>
{% endblock %}
