<ul class="nav">
    <li class="nav-item">
        <a class="nav-link btn-outline-info" href="{{ path('usuario_index', {'pag': 1}) }}">Usuarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('empleado_index', {'pag': 1}) }}">Empleados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('asistencia_index', {'pag': 1}) }}">Asistencias</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active btn-light" aria-current="page" href="{{ path('reporte_index', {'pag': 1}) }}">Reportes</a>
    </li>
</ul>