{% extends 'base.html.twig' %}

{% block title %}Nuevo Empleado{% endblock %}

{% block body %}
<div class="container-fluid">
    {% include ('empleado/menu.html.twig') %}
    <div class="card">
        <div class="card-header">
            <h1>Nuevo Empleado</h1>
        </div>
        {{ include('empleado/_form.html.twig') }}

    </div>
</div>
{% endblock %}
