{% extends 'base.html.twig' %}

{% block title %}Nueva Asistencia{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% include ('asistencia/menu.html.twig') %}
        <div class="card">
            <div class="card-header alert-primary">
                <h1>Nueva Asistencia</h1>
            </div>
            {{ include('asistencia/form.html.twig') }}

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
    </script>
{% endblock %}